<% title "InstaClone | Users" %>

<div class="container">
  <div class="users-index">

    <h1>All Users</h1>

    <%= will_paginate %>

    <ul class="users">
        <%= render @users %>
    </ul>

    <%= will_paginate %>

  </div>
  <!-- container -->
</div>
<!-- main page wrapper -->
