<header>
  <nav  class="masthead">
    <ul>
      <li><%= link_to "sample logo", root_path, id: "logo" %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
</header>
